<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151413987794-isle71jtg8kkvttqn912qj69h1ijdalh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151413987794-isle71jtg8kkvttqn912qj69h1ijdalh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>151413987794-374f5nhiv6fgfbs4vqss2063d3id1jmd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoRKWPcZXeOK3vTdu25W8Un17emn4fexc</string>
	<key>GCM_SENDER_ID</key>
	<string>151413987794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphacoders.jpuzzle</string>
	<key>PROJECT_ID</key>
	<string>jpuzzle-72465</string>
	<key>STORAGE_BUCKET</key>
	<string>jpuzzle-72465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151413987794:ios:f4b974466b5673acd4100b</string>
</dict>
</plist>